@media screen and (max-width: 768px) {
    img {
      width: 150px;
    }
    
    h2 {
      font-size: 2em;
    }
  }
  
  @media screen and (max-width: 576px) {
    img {
      width: 100px;
    }
    
    h2 {
      font-size: 1.5em;
    }
  }
  